/* en comun */
* {
    list-style: none;
}

.homepage-title{
    font-family: cursive;
    font-size: 50px;
}

.steps {
    font-size: 30px;
}

ul {
    font-family: cursive;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
}

ol {
    font-family: cursive;
}


/* hamburguer and pasticho styles */
#page-h, #page-p {
    background-color: rgb(237, 172, 60);
    text-align: center;
    list-style-position: inside;
    font-family: cursive;
}

h2 {
    color: red;
}



img {
    border-radius: 15px;
    border: 5px solid rgb(201, 104, 13);
    width: 500px;
    height: 300px;
}

.container, .container2{
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    width: 500px;
    background-color: rgb(238, 181, 82);
}
/* end of hamburguer and pasticho styles */

/* lemon pie styles */
#page-l{
    background-color: rgb(107, 242, 111);
    text-align: center;
}

.container1 {
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    width: 500px;
    background-color: rgb(132, 241, 99);
}
/* end of lemon pie styles*/



