#page {
    background-color: lightskyblue;
    text-align: center;
    list-style-position: inside;
}

.homepage-title{
    font-family: cursive;
    font-size: 50px;
}

h2 {
    color: rgb(217, 140, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    
}

img {
    height: 500px;
    width: 500px;
    border-radius: 15px;
    border: 4px solid black;
}

* {
    list-style: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}